.formulario{
	.form-group{
		margin-bottom: 0px;
	    width: 100%;
	    @media screen and (min-width: $break-small) {
	        margin-bottom: 30px;
	    }
	    .group-input {
		    margin-bottom: 10px;
		
			.inp{
				position: relative;
				margin: auto;
				width: 100%;
				// max-width: 280px;
				margin-bottom: 20px;
				.label{
					position: absolute;
					top: 0px;
					left: 0;
					font-size: 16px;
					color: $mid-grey;
					font-weight: 300;
					transform-origin: 0 0;
					transition: all 0.2s ease;
					padding-left: 0;
				}
				.border{
					position: absolute;
					bottom: 0;
					left: 0;
					height: 1px;
					width: 100%;
					background-color: $dark-grey;
					transform: scaleX(0);
					transform-origin: 0 0;
					transition: all 0.15s ease;
				}
				input{
					-webkit-appearance: none;
					width: 100%;
					border: 0;
					font-family: inherit;
					padding: 5px 0;
					height: 40px;
					font-size: 15px;
					font-weight: 300;
					border-bottom: 1px solid $mid-grey;
					background: none;
					border-radius: 0;
					color: $mid-grey;
					transition: all 0.15s ease;
					&:hover{
						background: rgba(34,50,84,0.03);
					}
					&:not(:placeholder-shown){
						& + span {
							color: $dark-grey;
				   			transform: translateY(-18px) scale(0.75);
				   		}
					}
					&:focus{
						background: none;
				   		outline: none;
				   		& + span {
				   			color: $dark-grey;
				   			transform: translateY(-18px) scale(0.75);
				   			& + .border{
				   				transform: scaleX(1);
				   			}
				   		}
					}
				}		   
			}
			.label{
				font-size: 16px;
				color: $mid-grey;
				font-weight: 300;
				padding-left: 0;
				white-space: initial;
				padding: 0;
			}
		
			.dropdown{
				position: relative;
				.dropdown-menu{
				    top: 92%;
				    width: 100%;
				    min-width: unset;
				    font-size: 14px;
				    border: 1px solid #ccc;
				    border: none;
				    border-radius: 0;
				    background-color: $gris-btn;
		    		@include mboxshadow(1);
		    		.dropdown-item {
		    			color: $mid-grey;
		    			font-weight: 300;
					    display: block;
					    padding: 6px 12px;
					    &:hover{
					    	background-color: $gris;
					    }
					}
				}
			}
		}
		&__dropdowns{
			.group-input{
				margin-bottom: 30px;
				.label{
				    margin-bottom: 10px;
				    display: block;
				    text-align: left;
				}
			}
		}
	}
	.button-group{
		margin: 20px 10px;
		@media screen and (min-width: $break-small) {
			margin: 50px 0 20px;
		}
	}
}